{% extends 'app_data/base.html' %}

{% block content %}

    <h1> REGISTRO DE PARTIDOS POLÍTICOS </h1>
    <p> Ingresa aquí datos sobre Partidos Políticos uruguayos </p>

    {% if form.errors %}
        <p> Error de validación, datos en el formulario incorrectos</p>
    {% endif %}

    <form action='{% url 'savePartido' %}' method='POST'>
        {% csrf_token %}
        
        {% if check %}
        <p> ¡Registro exitoso! </p>
        {% endif %}

        {{form}}
            <button type="submit" class="btn btn-primary"> Guardar </button>
    </form>


{% endblock %}